@charset "utf-8";
/* CSS Document */

/* IMPORTS LIST */

/*

+ Josh Long website
+ Design, Front-end : Sam osiris
+ https://samosiris.com

-------------------------------------------------------------------

[Table of contents]

0. General
1. Guidelines ( UI Design )
2. Header
3. Latest Podcasts
4. About
5. Episodes Archieve
6. Newsletter
7. Footer
8. 

-------------------------------------------------------------------

*/


/* ---------------------------------------------------
     0. General
----------------------------------------------------- */

body {
    background: #fff;
    margin: 0;
    padding: 0;
}

.container-fluid {
    /*padding-left:50px;
     padding-right: 50px; */
    width: 90%;
}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #272d35;

}

h1 {
    letter-spacing: -.75px;
}


h2 {
    letter-spacing: -.5px;
}

h3, h5, h6 {
    font-weight: 700;
}

strong {
    font-weight: 800;
}

small {
    font-size: 75%;
}

/* paragraphs */
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625em;
}

p.lg-paragraph {
    font-size: 1.575rem;
}


/* links */

a {
    text-decoration: none !important;
}

a.logo-text {
    font-size: 28px;
    letter-spacing: .5px;

}


a,
a:visited {
    outline: 0;
}

a:hover {
    cursor: pointer;

}

a:active, a:focus {
    /* outline: 0; */
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button:active, button:visited, button:focus, button:hover {
    /* outline: 0; */
    cursor: pointer;

}

input {
    border: none;
}

textarea:focus, input:focus, input:hover {
    /* outline: 0; */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-padding-start: 0;
}

img {
    max-width: 100%;
}


/* Helpers */

.text-underline {
    text-decoration: underline !important;
}

/* ::-moz-selection { background: #0461BF; }
::selection { background: #0461BF; }
*/

/* ---------------------------------------------------
     1. Guidelines ( UI Design elements )
----------------------------------------------------- */

/* BUTTONS & LINKS */


/* DISPLAY HEADINGS & TYPOGRAPY */


/* READMORE BUTTON */


/* BLOCKQUOTE */


/* ---------------------------------------------------
     2. HEADER
----------------------------------------------------- */


header.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #272d35;
    height: 60px;
    line-height: 60px;
    clear: both;
    z-index: 99999;
}


/*
header.top-bar {
    background: #272d35;
    height: 60px;
    line-height: 60px;
    width: 100%;
    clear: both;
}
*/


.podcast-bar {
    /* float:left; */
}

.podcast-bar ul li {
    display: inline-block;
    margin-right: 15px;
}

.podcast-bar ul li .pod-thumbnail img {
    border: 1px solid #2f353e;
}

.podcast-bar ul li .play-btn {
    background: #f3f3f3;
    color: #1e2227;
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}

.podcast-bar ul li .play-btn:hover {
    background: #fff;
}

/* hamburger menu */

/* Mobile / Tablet - Navbar */

.right-menu {

}

button.mobile-nav-btn {
    float: right;
    margin-top: 10px;
}

.navbar-collapse {
    background: #262d35;
    position: absolute;
    width: 300px;
    right: 5%;
    top: 60px;
    z-index: 99999;

}

header.top-bar .navbar-collapse > ul {
    display: inline-block;
    width: 100%;
    padding: 25px;

}

header.top-bar .navbar-collapse > ul > li > a {
    display: block;
    line-height: 1;
    font-size: 1.125rem;
    font-weight: 300;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 10px 5px;
    margin-bottom: 5px;
}

header.top-bar .navbar-collapse > ul > li > a:hover {

    border-bottom: 1px solid #0dac50;

}

header.top-bar .navbar-collapse > ul > li > a:hover {
}

header.top-bar .navbar-collapse > ul > li:last-child a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header.top-bar .navbar-collapse > ul > li:last-child a:hover {
    border-bottom: 1px solid #0dac50;
}

header.top-bar .navbar-collapse > ul > li {
}

/* hamburger menu */

header.top-bar .navbar-mobile button:focus {
    outline: 0;
}

.hamburger-menu {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    outline: none !important;
}

.hamburger-menu:focus, .hamburger-menu:active {
    outline: none !important;
    box-shadow: none !important;
    border: none;

}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border-radius: 4rem;
    background: #fff;
}

.hamburger-menu span {
    outline: 0;
}

.hamburger-menu span:nth-child(1) {
    top: 0px;
}

.hamburger-menu span:nth-child(2) {
    top: 10px;
}

.hamburger-menu span:nth-child(3) {
    top: 20px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburger-menu.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* main here */

header.header {
    background: #0dac50;
    position: relative;
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    margin-top: 60px;
}

nav.navbar {
    background: transparent;
    padding: 20px 0;
    margin-bottom: 30px;
    width: 100%;
    clear: both;
    overflow: hidden;
    z-index: 2000;
}

.logo {
    width: 300px;
}

.cover-mobile {
    display: none;
}

.nav-menu {
    margin-top: 5px;
    z-index: 100;
}

.nav-menu li {
    display: inline-block;
    margin-right: 25px;
}

.nav-menu li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, .75);
}

.nav-menu li a:hover, .nav-menu li.active a {
    color: rgba(255, 255, 255, 1);
}

.search-nav {
    display: inline-block;
}

.search-btn {
    font-size: 1.25rem;
    color: #3f444b;
    transition: all .4 ease-in-out;
    -webkit-transition: all .4 ease-in-out;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.search-btn:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}

.search-nav input {
    background: transparent;
    font-size: 13px;
    color: rgba(255, 255, 255, .5);
    display: none;
}

.cover-decoration-bottom {
    background: url('../images/graphicsEnd.png') repeat-x;
    position: absolute;
    bottom: 0px;
    min-width: 1938px;
    width: 100%;
    height: 226px;

}

.cover-decoration-bottom img {
    max-width: 100%;
}

.left-cover-part {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 40%;
}

.left-cover-part img {
    max-width: 100%;
    background-size: cover;
}

.right-cover-part {

}

.right-cover-part {
    color: #fff;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    right: 5%;
    margin-left: 30px;
    width: 52%;
    z-index: 100;
}

.right-cover-part a {
    text-shadow: 1px 1px 2px white;
}

.caption {
    float: right;
}

.caption h1 {
    font-size: 6vh;
    font-weight: 800;
    color: #fff;
    margin-bottom: 30px;
}

.minimal-btn {
    font-size: 18px;
    font-weight: 500;
    color: #1c201e;
    padding-bottom: 6px;
    border-bottom: 2px solid #1c201e;
    position: relative;
}


.minimal-btn:hover {
    color: #e1db38;
    border-color: #e1db38;
}


.josh-photo {
    /* margin-left: -30px; */

}


/* ---------------------------------------------------
     3. Latest Podcasts
----------------------------------------------------- */

.section {
    padding: 60px 0;
    clear: both;
    overflow: hidden;
}

.heading-section {
    text-align: center;
    margin-bottom: 80px;
}

.heading-section h5 {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}

.heading-section h5:after {
    content: '';
    position: absolute;
    display: block;
    background: url('../images/heading-line.png') no-repeat;
    width: 53px;
    height: 14px;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0 auto;
}


.latest-ep-item {
    padding: 0 15px;
}

.latest-ep-item .photo img {
    background-color: #0a883f;
    min-height: 300px;
    max-height: 300px;
}

.latest-ep-item .content {
    padding: 30px 20px;
}

.latest-ep-item .content h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

.latest-ep-item .content h4 a {
    color: #272d35;
}

.latest-ep-item .content h4 a:hover {
    color: #0dac50;
    text-decoration: underline !important;
}


.latest-ep-item .content p {
    color: rgba(39, 45, 53, 0.5);
    font-size: 14px;
    letter-spacing: 1px;
}

.listen-btn {
    color: #272d35;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.listen-btn span.vid-icon-span {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #0dac50;
    border-radius: 50%;
    color: #0dac50;
    margin-right: 8px;
}

.listen-btn:hover span.vid-icon-span, .listen-btn.clicked span.vid-icon-span {

    background: #0dac50;
    color: #fff;

}


/* ---------------------------------------------------
     4. About
----------------------------------------------------- */

.about {
    background: #f5f8f7;
    padding: 125px 0;
    text-align: center;
}

.about p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #272d35;
    letter-spacing: .1px;
    line-height: 1.8em;

}


/* ---------------------------------------------------
     5. Podcast Archieve
----------------------------------------------------- */

#podcasts-archieve {
    padding: 100px 0;
}

#podcasts-archieve .heading-section {
    margin-bottom: 100px;
}

.tab-nav-archieve {
    margin-bottom: 50px;
}

.tab-nav-archieve ul {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
}

.tab-nav-archieve ul li {
    display: inline-block;
    margin-right: 40px;

}

.tab-nav-archieve ul li a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #808080;
    position: relative;
}

.tab-nav-archieve ul li a:hover {
    color: #272d35;
}

.tab-nav-archieve ul li a.active {
    color: #0dac50;
}

.tab-nav-archieve ul li a.active:after {
    content: '';
    position: absolute;
    display: block;
    background: #0dac50;
    height: 2px;
    width: 100%;
    bottom: -24px;
}

.podcast-episode {
    padding: 40px 0 45px 0;
    border-bottom: 1px solid #efefef;
}

.podcast-episode:last-child {
    border: 0;
}

.podcast-episode p {
    margin: 0;
    padding: 0;
}

.photo-ep {
    float: left;
    width: 135px;
    padding-right: 25px;
}

.photo-ep img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
}

.content-ep {
    margin-left: 140px;
}

.content-ep span {
    font-size: 13px;
    color: rgba(39, 45, 53, 0.5);
    text-transform: uppercase;
}

.heading-episode {
}


.content-ep h4 {
    font-weight: 500;
    letter-spacing: -.1px;
    margin-bottom: 15px;

}

.btn-light-green {
    display: inline-block;
    background: #e6f7ed;
    color: #0dac50;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 6px 15px;
    margin-bottom: 15px;
}

.btn-light-green:hover {
    background: #3f444b;
    color: #fff;
}

.content-ep h4 a {
    color: #272d35;
}

.content-ep h4 a:hover {
    text-decoration: underline !important;
}

.content-ep h4 a.active {
    font-weight: 600;
    text-decoration: underline !important;

}

.content-ep p {
    font-size: 16px;
    font-style: italic;
    letter-spacing: .25px;
    color: rgba(39, 45, 53, 0.5);
    line-height: 1.5em;
}

.controls-episode {
    float: right;
    margin-top: 30px;
}

.controls-episode li.control-ep {
    display: inline-block;
    margin: 0 15px;
    text-align: center;

}

.controls-episode li.control-ep:last-child {
    margin-right: 0px;
    margin-bottom: 100px;
}

.controls-episode li.control-ep a span {
    color: #272d35;
    font-size: 13px;
    text-transform: uppercase;
}

.controls-episode li.control-ep a:hover span {
}

.controls-episode li.control-ep a .icon {
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    color: #0dac50;
    border: 1px solid #0dac50;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.controls-episode li.control-ep a .icon-filled {
    background: #0dac50;
    color: #fff;
}

.controls-episode li.control-ep a:hover .icon {
    background: #0dac50;
    color: #fff;
}


.btn-simple {
    background: #fafafb;
    color: rgba(39, 45, 53, 0.6);
    border: 1px solid #d6d6db;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}


.btn-simple:hover {
    background: #fff;
}


/* ---------------------------------------------------
     6. NEWSLETTER section
----------------------------------------------------- */

#newsletter {
    background: #ebebed url('../images/newsletter-bg.jpg') no-repeat center center;
    padding: 100px 0 120px 0;
    clear: both;
    overflow: hidden;
}

.heading-newsletter {
    margin-bottom: 30px;
}

.heading-newsletter h3 {
    color: #fff;
    font-weight: 700;
}


.input-wrapper {
    width: 100%;
    position: relative;

}

.input-wrapper input#newsletter-input {
    background: #fff;
    border-radius: 100px;
    padding: 0 30px;
    height: 70px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, .75);
    letter-spacing: .5px;
}

.input-wrapper input#newsletter-input:focus {
    color: rgba(0, 0, 0, 1);
}

#newsletter .input-wrapper .submit-btn {
    position: absolute;
    right: -5px;
    top: 0;
    height: 70px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle;


}

#newsletter .input-wrapper .submit-btn i {
    padding-right: 5px;
    font-weight: normal;
    font-size: 24px;
    vertical-align: middle;

}


/* ---------------------------------------------------
     8. FOOTER
----------------------------------------------------- */


footer.footer {
    background: #fff;
    padding: 80px 0;
}

footer.footer .copyrights {
    font-size: 13px;
    color: #606060;
    line-height: 45px;
}

.social-icons {
    margin: 0 auto;
    text-align: center;
}

.social-icons li {
    display: inline-block;
    margin: 0 6px;
}

.social-icons li a {
    background: #c3c8d5;
    width: 45px;
    height: 45px;
    display: block;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.social-icons li a:hover {
    background: #272d35;
}

#scrollTop {
    font-size: 1rem;
    opacity: .75;
    float: right;
    line-height: 45px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#scrollTop:hover {
    opacity: 1;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}