
    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

        .header { height:100%; max-height: 100%; position: relative; }
        header.header { min-height:100%; }
        button.mobile-nav-btn { display: none; }

        .left-cover-part {
            right:5%;
            left:auto;
            width:50%;
            bottom:0;
        }

        .right-cover-part {
            left:0%;
            right:auto;
            width:75%;
        }

        .cover .caption h1 {
            font-size: 5vh;
        }

        .controls-episode li.control-ep { margin:0 5px; }
        footer.footer .copyrights { line-height: 1.6em; }


        .contact-area { margin-bottom: 50px; }

        #contact-section .heading-contact { margin-left: 0; }



    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

        .col-hide { display: none; }

        .nav-menu li {
            display: inline-block;
            margin-right: 10px;
        }

        .search-nav { display: none; }

        .cover .caption h1 {
            font-size: 4vh;
        }

        .topic-item { margin-bottom:25px; }
        .topics-section .row { margin-bottom: 0; }

        nav.navbar-page .nav-menu { display: none; }



    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

        .nav-menu { display: none; }




     }

    

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {


        
        
    }