language: java

sudo: required

jdk:
  - openjdk11

cache:
  directories:
    - $HOME/.m2/repository/

services:
  - postgresql


before_script:
  - export PATH=$PATH:$HOME/bin/

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -U

env:
  - SPRING_PROFILES_ACTIVE=ci

script:
  - mvn -e -Dspring.profiles.active=ci verify deploy
  - ./deploy/cf.sh
  - ./deploy/deploy.sh
