
.audioplayer[data-posttype="dzsap_items"],.audioplayer[data-posttype="product"]{

  a[href="#dzsap-add-to-playlist"]{
    display: inline-block;
  }
}

body:not(.logged-in){

  a[href="#dzsap-add-to-playlist"]:not(.a){
    display: none;
  }
}
.audioplayer{
  .mejs-container{
    display: none;
  }
}

.hidden{
  display: none;
}
a[href="#dzsap-add-to-playlist"]:not(.a){
  display: none;
}
