
<html>
<head>
 <title>
  A Bootiful Podcast
 </title>
</head>
<body>

<h1> {{date}} </h1>

<ol>
 {{#links}}
   <li> <a href="{{{ href }}}"> {{{ description }}}</a> </li>
 {{/links}}
</ol>

</body>
</html>