<div class="podcast-episode">
    <div class="row">
        <div class="col-lg-9 col-md-8">
            <div class="episode-item">
                <div class="photo-ep"><img src="{{{  imageSrc }}}" alt=""></div>
                <div class="content-ep">
                    <span class="cat-ep">Development</span>
                    <div class="heading-episode">
                        <h4><a href="#" class="active">{{{ title }}}</a></h4>
                        <button type="button" class="btn-light-green"><i class="fas fa-share"></i> share this</button>
                    </div>
                    <p>  {{{ description }}}  </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="controls-episode">
                <ul>
                    <li class="control-ep">
                        <a href="">
                            <div class="icon"><i class="fas fa-pause"></i></div>
                            <span>Listening now</span>
                        </a>
                    </li>
                    <li class="control-ep">
                        <a href="">
                            <div class="icon"><i class="fas fa-arrow-down"></i></div>
                            <span>Download</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>