<div class="thumbnail">

    <a href="#"><img src="{{{  imageSrc }}}" alt="" width="2000" class="cards"/></a>

    <h4>
        {{{ title }}}
    </h4>

    <p class="tag">
        <a href="{{{ href }}}">Listen Now</a>
         {{{ when }}}
    </p>

    <p class="text_column">
        {{{ description }}}
    </p>

</div>