<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- IMPORTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900|Open+Sans:300,400,600&display=swap"
          rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="scss/framework.css">
    <!-- Icongraphy -->
    <link href="assets/icongraphy/awesomefont/css/all.min.css" rel="stylesheet">
    <!-- Main Style -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <title>About page - humble Spring advocate</title>
</head>
<body>

<header class="header-page" id="header">

    <nav class="navbar-page">
        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="logo"><a href="index.html"><img srcset='assets/images/logo-new.png 1x,
                        assets/images/logo-new@2x.png 2x' alt="Josh Long"></a>
                    </div>
                </div><!-- /.col x 2 -->

                <div class="col-md-8 d-none d-lg-block ">
                    <ul class="nav-menu">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a
                                href="page-template.html">About</a></li>
                        <li><a href="#">Latest Episodes</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul><!-- Nav Menu -->
                </div><!-- /. col x 8-->

                <div class="col-lg-2 col-md-6 col-sm-6 col-6">

                    <div class="right-side-icons">

                        <button type="button" class="search-btn"><i
                                class="fas fa-search"></i></button>

                        <button class="navbar-toggler mobile-nav-btn"
                                type="button" data-toggle="collapse"
                                data-target="#mobile-menu"
                                aria-controls="mobile menu"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <div class="hamburger-menu">
                                <span></span><span></span><span></span></div>
                        </button>

                        <!-- Collapsible content -->
                        <div class="collapse navbar-collapse mobile-menu-collapse"
                             id="mobile-menu">
                            <!-- Links -->
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Linkedin </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">twitter </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">facebook </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">instagram</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">youtube </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">RSS </a>
                                </li>
                            </ul>
                            <!-- Links -->
                        </div><!-- /.collaspe nav-->
                    </div><!-- /.right side icons-->
                </div><!-- /.col x 2 -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </nav><!-- /.navbar -->


    <div class="cover-page">
        <div class="container-fluid">

            <div class="caption-page">
                <h3>About Bootiful</h3>
                <p>Josh (@starbuxman) is the Spring Developer Advocate at
                    Pivotal. Josh is a Java Champion
                    and author of 6 books </p>
            </div><!-- caption -->


        </div><!-- /.container fluid -->
    </div><!-- /.cover-page -->

</header><!-- HEADER -->

<section class="section" id="about-section">

    <div class="container-fluid">
        <div class="row">

            <div class="offset-lg-1 col-lg-5 col-md-6 col-sm-12">
                <div class="photo"><img src="assets/images/josh-photo.jpg"
                                        alt=""></div>
            </div><!-- /.col x 6 -->

            <div class="offset-lg-1 col-lg-4 col-md-6 col-sm-12">
                <div class="content">
                    <h2>Who’s Josh ?</h2>
                    <p>Here's the story of how the company was built and the man
                        central to its founding and growth. <br><br> In Oct.
                        2011, Steve Jobs passed away at the age of 56.2﻿ He had
                        just left the CEO post at Apple, the company he
                        co-founded, for the second time. Jobs was an
                        entrepreneur through and through, and the story of his
                        rise is the story of Apple as a company, along with some
                        very interesting twists.</p>
                </div><!-- /.content -->
            </div><!-- /.col x 6 -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section><!-- latest section -->


<section class="vision-section">

    <div class="heading-section">
        <h3>our vision</h3>
    </div><!-- /.heading -->

    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-lg-9 col-md-10 col-12">
                <p>Josh <span class="text-primary">@starbuxman</span> is the
                    Spring Developer Advocate at Pivotal. Josh is a Java
                    Champion, author of 6 books including <span
                            class="text-underline">O'Reilly's Cloud Native Java</span>:
                    Designing Resilient Systems with Spring Boot,<span
                            class="text-underline"> Spring Cloud</span>, and
                    <span class="text-underline">Cloud Foundry and the upcoming Reactive Spring</span>
                    ) and numerous best-selling video trainings (including
                    Building Microservices with Spring Boot Livelessons with
                    Spring Boot co-founder Phil Webb), and an open-source
                    contributor (Spring Boot, <span class="text-underline">Spring Integration</span>,
                    <span class="text-underline">Spring Cloud</span>, Activiti
                    and Vaadin), a podcaster and a screencaster.</p>
            </div><!-- /.col x 10 -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section><!-- /.section -->


<section class="section topics-section">

    <div class="heading-section">
        <h2>What Topics we interested in</h2>
    </div><!-- /.heading -->

    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-md-3 col-sm-6 col-6">
                <div class="topic-item">
                    <div class="icon icon-java"><i class="fab fa-java"></i>
                    </div>
                    <div class="title-topic">
                        <h6>Java programming</h6>
                    </div><!-- /.title topic-->
                </div><!-- /.topic item -->
            </div><!-- /. col x 3 -->


            <div class="col-md-3 col-sm-6 col-6">
                <div class="topic-item">
                    <div class="icon"><i class="fas fa-laptop"></i></div>
                    <div class="title-topic">
                        <h6>Computer Science</h6>
                    </div><!-- /.title topic-->
                </div><!-- /.topic item -->
            </div><!-- /. col x 3 -->


            <div class="col-md-3 col-sm-6 col-6">
                <div class="topic-item">
                    <div class="icon"><i class="fas fa-lightbulb"></i></div>
                    <div class="title-topic">
                        <h6>Technology</h6>
                    </div><!-- /.title topic-->
                </div><!-- /.topic item -->
            </div><!-- /. col x 3 -->


            <div class="col-md-3 col-sm-6 col-6">
                <div class="topic-item">
                    <div class="icon"><i class="fas fa-shield-alt"></i></div>
                    <div class="title-topic">
                        <h6>Security</h6>
                    </div><!-- /.title topic-->
                </div><!-- /.topic item -->
            </div><!-- /. col x 3 -->

        </div><!-- /.row 1 -->

        <div class="row justify-content-center">

            <div class="col-md-3 col-sm-6 col-6">
                <div class="topic-item">
                    <div class="icon"><i class="fas fa-pencil-alt"></i></div>
                    <div class="title-topic">
                        <h6>Life lessons</h6>
                    </div><!-- /.title topic-->
                </div><!-- /.topic item -->
            </div><!-- /. col x 3 -->


            <div class="col-md-3 col-sm-6 col-6">
                <div class="topic-item">
                    <div class="icon"><i class="fas fa-cogs"></i></div>
                    <div class="title-topic">
                        <h6>Motivation</h6>
                    </div><!-- /.title topic-->
                </div><!-- /.topic item -->
            </div><!-- /. col x 3 -->


            <div class="col-md-3 col-sm-6 col-6">
                <div class="topic-item">
                    <div class="icon"><i class="far fa-chart-bar"></i></div>
                    <div class="title-topic">
                        <h6>Job Market</h6>
                    </div><!-- /.title topic-->
                </div><!-- /.topic item -->
            </div><!-- /. col x 3 -->


            <div class="col-md-3 col-sm-6 col-6">
                <div class="topic-item">
                    <div class="icon"><i class="fas fa-book"></i></div>
                    <div class="title-topic">
                        <h6>Josh's Books</h6>
                    </div><!-- /.title topic-->
                </div><!-- /.topic item -->
            </div><!-- /. col x 3 -->

        </div><!-- /.row 1 -->

    </div><!-- /.container-fluid -->
</section><!-- /.section -->


<section class="section regular-content-section">

    <div class="heading-section">
        <h2>Discover more about us </h2>
    </div><!-- /.heading -->

    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-md-4 col-12">
                <div class="regular-content-item">
                    <!--
                        <div class="title"><h5>how we started ?</h5></div>
                    -->
                    <div class="text-content">
                        <div class="podcast-episode">
                            <div class="row">
                                <div class="col-lg-9 col-md-8">
                                    <div class="episode-item">
                                        <div class="photo-ep"><img
                                                src="{{{ episode.imageSrc }}}" alt="">
                                        </div>
                                        <div class="content-ep">
                                            <span class="cat-ep">Development</span>
                                            <div class="heading-episode">
                                                <h4><a href="#"
                                                       class="active">{{{ episode.podcast.title }}}</a>
                                                </h4>
                                                <button type="button"
                                                        class="btn-light-green">
                                                    <i class="fas fa-share"></i>share
                                                    this
                                                </button>
                                            </div>
                                            <P>{{ episode.dateAndTime }}</P>
                                            <div>{{{ episode.htmlDescription }}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="controls-episode">
                                        <ul>
                                            <li class="control-ep"><a
                                                    id="episode-play-{{ episode.podcast.uid }}"
                                                    href="#">
                                                <div class="icon"><i
                                                        class="fas fa-play"></i>
                                                </div>
                                                <span class="play-status"
                                                      id="episode-play-{{ episode.podcast.uid }}-status"></span>
                                            </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section><!-- /.section -->


<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-md-4 col-sm-6">
                <p class="copyrights">all rights reserved for josh long
                    2017-2019</p>
            </div><!-- /.col 6 -->

            <div class="col-md-4 col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fas fa-play"></i></a></li>
                </ul>
            </div>

            <div class="col-md-4 col-hide">
                <a href="#header" id="scrollTop" class="button-scroll-top">
                    <img src="assets/images/scrollTop.png" alt="">
                </a>
            </div><!-- /.col 6 -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</footer><!-- /.footer -->


<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>


</body>
</html>