<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Bootiful Podcast</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container">
    <!-- Header -->
    <header class="header">
        <h4 class="logo">A BOOTIFUL PODCAST</h4>
    </header>
    <!-- Hero Section -->
    <section class="intro">
        <div class="column">

            <img src="images/profile.png" alt="" class="profile"></div>
        <div class="column">
            <p>
                I'm <a href="http://www.twitter.com/starbuxman">Josh Long (@starbuxman)</a>,
                a humble Spring advocate at VMWare and this is a <a href="http://www.twitter.com/BootifulPodcast">
                a Bootiful Podcast</a>, a celebration of the real heroes that drive Spring and its ambient ecosystems.
            </p>
        </div>
    </section>
    <!-- Stats Gallery Section -->

    <div class="gallery">
        <h3>
            {{ currentYear.year }}
        </h3>
        <div>
            {{{currentYear.html}}}
        </div>
    </div>

    <div>
        {{#years}}
            <a href="{{{.}}}.html">{{{.}}}</a>
        {{/years}}
    </div>

    <div class="last-updated">
        last generated at: {{ dateOfLastSiteGeneration }}
    </div>

    <!-- Footer Section -->
    <footer id="contact">
        <p class="hero_header">GET IN TOUCH WITH ME</p>
        <div class="button">EMAIL ME</div>
    </footer>
    <!-- Copyrights Section -->
    <div class="copyright">&copy;2020 - <strong>BootifulPodcast.fm</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
