<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- IMPORTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900|Open+Sans:300,400,600&display=swap"
          rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="scss/framework.css">
    <!-- Icongraphy -->
    <link href="assets/icongraphy/awesomefont/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <title>
        A Bootiful Podcast with Josh Long
    </title>
</head>
<body>

<header class="top-bar" id="topBar">
    <div class="container-fluid">

        <div class="podcast-bar">
            <ul>
                <li>
                    <div class="pod-thumbnail"><img
                            src="assets/images/thumbnail.png" alt=""></div>
                </li>
                <li>
                    <button class="play-btn"><i class="fas fa-play"></i>
                    </button>
                </li>
                <li>
                    <div class="player-waves"><img
                            src="assets/images/player-waves.png" alt=""></div>
                </li>
            </ul>
        </div><!-- /.podcast bar -->

        <div class="right-menu">

            <button class="navbar-toggler mobile-nav-btn" type="button"
                    data-toggle="collapse"
                    data-target="#mobile-menu"
                    aria-controls="mobile menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="hamburger-menu">
                    <span></span><span></span><span></span></div>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse mobile-menu-collapse" id="mobile-menu">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#">PodCasts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://twitter.com/BootifulPodcast">Twitter (@BootifulPodcast)</a>
                    </li>
                </ul>

            </div>
            <!-- Collapsible content -->
        </div><!-- /.mobile menu -->

    </div><!-- /.container fluid -->
</header><!-- /.podcast top bar-->

<header class="header" id="header">

    <nav class="navbar">
        <div class="container-fluid">

            <div class="logo"><a href="index.html"><img
                    srcset='assets/images/logo-ne.png 1x, assets/images/logo-ne@2x.png 2x'
                    alt="Josh Long"></a>
            </div>

            <ul class="nav-menu">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Latest Episodes</a></li>
                <li><a href="#">Contact</a></li>
            </ul><!-- Nav Menu -->
            <div class="search-nav">
                <form action="">
                    <input type="text" placeholder="type your search ..">
                </form>
                <button type="button" class="search-btn"><i
                        class="fas fa-search"></i></button>

            </div>
        </div><!-- /.container-fluid -->
    </nav><!-- /.navbar -->


    <div class="cover">
        <div class="container-fluid">
            <div class="row">

                <div class="left-cover-part">
                    <div class="josh-photo">
                        <img srcset='assets/images/josh.png 1x, assets/images/josh@2x.png 2x'
                             alt="josh Long">
                    </div>
                </div><!-- /. col x 5 -->

                <div class="right-cover-part">
                    <div class="caption">
                        <h1>
                            Hi, I'm Josh Long,<br>
                            a humble Spring developer advocate, and this is <EM>A&nbsp;Bootiful&nbsp;Podcast</EM>, 
                            <!-- <img src="assets/images/logo-ne.png" style="display: inline-block; height: 1.5em"/>,-->
                            a celebration of the real heroes that drive ecosystems.
                        </h1>

                        <a href="#latest-podcasts" class="btn-slide minimal-btn"><i class="fas fa-angle-down"></i>
                            view podcasts
                        </a>

                    </div><!-- caption -->
                </div><!-- /.col x 7 -->

            </div><!-- /.row -->

        </div><!-- /.container fluid -->
    </div><!-- /.cover -->

    <div class="cover-decoration-bottom"></div>

</header><!-- HEADER -->

<section class="section" id="latest-podcasts">

    <div class="heading-section">
        <h5>Latest Podcasts</h5>
    </div><!-- /.heading -->

    <div class="container-fluid">
        <div class="row">


            {{#top3}}
                <div class="col-md-4 col-sm-12">
                    <div class="latest-ep-item">
                        <div class="photo"><img src="{{ imageSrc}}" alt="">
                        </div>
                        <div class="content">
                            <h4><a href="#"> {{podcast.title}} </a></h4>
                            <P><strong> {{ dateAndTime }}</strong></P>
                            <p> {{podcast.description}} </p>
                            <a href="#" class="listen-btn clicked"><span
                                    class="vid-icon-span"><i
                                    class="fas fa-play"></i></span>Listen
                                Now</a>
                        </div>
                    </div>
                </div>
            {{/top3}}


        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section><!-- latest section -->


<section class="about">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-md-10 col-12">
                <p>Josh Long <a target="_blank"
                                href="http://twitter.com/starbuxman"><span
                        class="text-primary">@starbuxman</span></a> is a Spring
                    Developer Advocate at VMWare.
                    Josh is a <a target="_blank"
                                 href="https://community.oracle.com/docs/DOC-922857">Java
                        Champion</a>,
                    author of 6 books including <a target="_blank"
                                                   href="http://CloudNativeJava.io"><span
                            class="text-underline">O'Reilly's Cloud Native Java:
                    Designing Resilient Systems with Spring Boot,  Spring Cloud , and Cloud Foundry</span>
                    </a> and the upcoming
                    <a href="http://ReactiveSpring.io" target="_blank"><span
                            class="text-underline">Reactive Spring</span></a>)
                    and numerous
                    best-selling video trainings (including <a target="_blank"
                                                               href="http://joshlong.com/livelessons.html"><span
                            class="text-underline">Building
                        Microservices with Spring Boot Livelessons</span></a>
                    with
                    Spring Boot co-founder Phil Webb), and an open-source
                    contributor (Spring Boot, <span
                            class="text-underline">Spring Integration</span>,
                    <span
                            class="text-underline">Spring Cloud</span>, Activiti
                    and Vaadin), a podcaster and a
                    <a target="_blank"
                       href="http://bit.ly/spring-tips-playlist"><span
                            class="text-underline">screencaster</span></a> .</p>
            </div><!-- /.col x 10 -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section><!-- /.section -->


<section class="section" id="podcasts-archieve">

    <div class="heading-section">
        <h5>Podcasts Archive</h5>
    </div><!-- /.heading -->


    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-lg-11 col-md-12 col-12">

                <div class="tab-nav-archieve">
                    <ul class="nav nav-tabs" role="tablist">

                        {{#years}}
                            <li>
                                <a id="{{year}}-tab" data-toggle="tab"
                                   href="#{{{year}}}-content"
                                   class="tab-pane-toggle {{yearTabClassName}}"
                                   role="tab">{{{ year }}} Episodes</a>
                            </li>
                        {{/years}}

                    </ul>
                </div><!-- tab nav archive -->

                <div class="tab-content">

                    {{#years}}
                        <!--
                         to show the episodes, make this element have a class active
                        -->
                        <div class="tab-pane fade show tab-pane-content {{yearTabClassName}}"
                             id="{{year}}-content" role="tabpanel"
                             aria-labelledby="{{year}} tab">

                            <!-- {{ year}} -->

                            {{#episodes}}
                                <div class="podcast-episode">
                                    <div class="row">
                                        <div class="col-lg-9 col-md-8">
                                            <div class="episode-item">
                                                <div class="photo-ep"><img
                                                        src="{{{  imageSrc }}}"
                                                        alt=""></div>
                                                <div class="content-ep">
                                                    <span class="cat-ep">Development</span>
                                                    <div class="heading-episode">
                                                        <h4><a href="#"
                                                               class="active">{{{ podcast.title }}}</a>
                                                        </h4>
                                                        <button type="button"
                                                                class="btn-light-green">
                                                            <i class="fas fa-share"></i>
                                                            share this
                                                        </button>
                                                    </div>
                                                    <P>
                                                        {{ dateAndTime }}
                                                    </P>
                                                    <p>  {{{ podcast.description }}}  </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4">
                                            <div class="controls-episode">
                                                <ul>
                                                    <li class="control-ep">
                                                        <a href="">
                                                            <div class="icon"><i
                                                                    class="fas fa-pause"></i>
                                                            </div>
                                                            <span>Listening now</span>
                                                        </a>
                                                    </li>
                                                    <li class="control-ep">
                                                        <a href="">
                                                            <div class="icon"><i
                                                                    class="fas fa-arrow-down"></i>
                                                            </div>
                                                            <span>Download</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/episodes}}
                        </div>
                    {{/years}}

                </div><!-- /.tab content -->

            </div><!-- /.col x 11 -->

            <!--            <button class="btn-simple" type="button">Load more episodes</button>-->


        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section><!-- Archive section -->

<section class="section" id="newsletter">

    <div class="container-fluid">
        <div class="row">

            <div class="offset-lg-1 col-lg-5 col-sm-8 col-12">

                <div class="heading-newsletter">
                    <h3>Get notifications <br> about my next podcast</h3>
                </div><!-- /.heading section -->

                <form action="">
                    <div class="input-wrapper">
                        <input type="email" class="form-control"
                               id="newsletter-input"
                               placeholder="Email@website.com">
                        <button class="submit-btn btn btn-primary"
                                type="submit"><i class="far fa-paper-plane"></i>
                            Send
                        </button>
                    </div><!-- /.wrapper -->
                </form>

            </div><!-- /.col x 7-->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section><!-- /.section -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-md-4 col-sm-6">
                <p class="copyrights">all rights reserved for <EM> A Bootiful
                    Podcast</EM>
                    2019-{{currentYear}}</p>
            </div><!-- /.col 6 -->

            <div class="col-md-4 col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fas fa-play"></i></a></li>
                </ul>
            </div>

            <div class="col-md-4 col-hide">
                <a href="#topBar" id="scrollTop" class="button-scroll-top">
                    <img src="assets/images/scrollTop.png" alt="">
                </a>
            </div><!-- /.col 6 -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</footer><!-- /.footer -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/wow.min.js"></script>
<script type="text/JavaScript">
    wow = new WOW(
            {
                boxClass: 'wow',      // default
                animateClass: 'animated', // default
                offset: 0,          // default
                mobile: false,       // default
                live: true        // default
            }
    )
    wow.init();
</script>


</body>
</html>