<!--
In Mustache, a "." returns the current element in the list.
In Mustache, a variable name surrounded by two curly brackets renders a key in the context and processes it.
In Mustache, a variable name surrounded by three curly brackets renders a key in the context and does not process it.
-->
<h1 class="year"> {{{ year }}} </h1>
<div class="episodes">
    {{#episodes}}
        <div class="episode">
            {{{.}}}
        </div>
    {{/episodes}}
</div>